<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle</title>

<!-- Stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <header>
    <% include partials/_header %>
  </header>

  <body class="bodyLayout">
    <article class="eventWrapper">
    <main class="container">
      <div class="jumbotron">
      <!-- <h4 class="sub-title">Step 3 of 3</h4> -->

  <!-- Event Information -->
      <section class="eventInformation">
        <h3 class="eventName"><%= eventInfo.title %></h4>
        <h4 class="organizerName">Hosted by: <%= eventInfo.organizerName %></h4>
        <h4 class="eventLocation">Location: <%= eventInfo.location %></h4>
        <h4 class="eventDescription"><%= eventInfo.description %></h4>
      </section>

  <!-- RSVP Button -->
      <!-- slideToggle form (new)  -->
      <div id="attendeeRSVP" >
        <section class="toggleRSVP">
          <label class="formLabel">Name:</label>
          <input type="text" id="newAttendeeName" name="newName" placeholder="Enter your first & last name" style="width: 38%">
          <label class="formLabel">Email:</label>
          <input type="email" id="newAttendeeMail" name="newMail" placeholder="Enter your email address" style="width: 38%">
          <div class="rsvpAvailability">
            <h4>Please select your availability:</h4>
            <p class="scheduleList"></p>
          </div>
          <button class="btn btn-success" id="submitAvailability" >Confirm</button>
        </section>
      </div>


      <!-- List of Attendees -->
      <section class="attendeeList">
        <h4>Who's attending:</h4>
        <p class="attendeeStatus">
          <% for (let i of theAvailability) { %>
              <ul><li><%= i %></li></ul>
          <% } %>
        </p>
      </section>

      <button class="btn btn-primary" id="doneBtn" style="float: right;">Make a new event</button>
      </div>
    </main>
    </article>

    <div class="jumbotron" id="thankYou">
      <h3>Thank you for using Schoodle!!!</h3>
      <h6>See you again...</h6>
    </div>

  </body>

  <footer>
    <div>© 2019 Copyright:
      <span>Schoodle.com</span>
    </div>
  </footer>
</html>